:root{
    --primary-color: yellow;
    --secondary-color:lightgray;
    --tertiary-color: #4e4e4e;
    --font-color: white;
    --small-icon: 1rem;
    --medium-icon: 2rem;
    --big-icon: 3rem;
  }

.libros-feed, .autores-feed{
    display: flex;
    flex-wrap: wrap;
}

.tile-libro, .tile-autor{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
.tile-libro img {
    object-fit: cover;
    flex:1;
    height: auto;
}

footer {
    display: flex;
    background-color: var(--primary-color);
    margin-top: auto;
}
.floating-buttons{
    position:absolute;
    top: 0;
    right: 0;
    z-index: 9999;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex:1;
}
.welcome-message{
    display: none;
}

@media screen and (min-width: 576px) { 
    .autores {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .welcome-message{
        display: block;
    }
    .session-button{
        margin-left: auto;
    }
}